<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Base directory for logs -->
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console appender for outputting logs to the console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File appender for writing logs to a file with a size limit -->
        <RollingFile name="File" fileName="${basePath}/automation.log"
                     filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration -->
        <Root level="info">
            <!-- File appender will log to the file -->
            <AppenderRef ref="File"/>
            <!-- Uncomment the below line if you also want to log to the console -->
            <!-- <AppenderRef ref="Console"/> -->
        </Root>
    </Loggers>
</Configuration>